/* Google fonts class*/
.material-icons {
  font-family: "Material Icons";
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  display: inline-block;
  padding: 0.25rem;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
}

/* Search icon animation flickering animation*/
#search-icon {
  text-shadow: 0 0 0.5px #fff, 0 0 0.4px #fff, 0 0 0.3px #fff, 0 0 0.2px #fff,
    0 0 0.1px #fff, 0 0 0.05px #fff, 0 0 0.01px #fff;
  background-color: black;
  animation: flicker 1.5s infinite alternate;
}

@keyframes flicker {
  0%,
  18%,
  22%,
  25%,
  53%,
  57%,
  100% {
    text-shadow: 0 0 4px #fff, 0 0 11px #fff, 0 0 19px #fff, 0 0 40px #0fa,
      0 0 80px #0fa, 0 0 90px #0fa, 0 0 100px #0fa, 0 0 150px #0fa;
  }

  20%,
  24%,
  55% {
    text-shadow: none;
  }
} /* Search icon animation ends*/

/* Reset all margins */
* {
  margin: 0%;
  padding: 0%;
}

/* Remove text-decoration from all links on the page */
a {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.9);
  font-family: "Lato", sans-serif;
}

/* Start of the navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  background-color: cornflowerblue;
}

.left-header-links-wrapper,
.right-header-links-wrapper {
  display: flex;
  flex-direction: row;
}

.navlink-wrapper {
  margin: auto 1rem;
  padding: 0.5rem 0;
}

.profile-photo {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 50%;
  background-image: url(https://images.unsplash.com/photo-1542596594-649edbc13630?ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8c21pbGluZ3xlbnwwfHwwfHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60);
  height: 2rem;
  width: 2rem;
  background-size: cover;
  padding: 0.5rem;
} /* End of the navbar */

/* Start of the form */
form {
  display: flex;
  flex-direction: column;
  position: fixed;
  height: 100vh;
  width: 100%;
  text-align: center;
  align-items: center;
  justify-content: center;
  top: 0;
  z-index: -1;
}

.form-links-wrapper {
  display: flex;
}

.form-link-wrapper {
  margin: 1rem;
  background-color: rgba(211, 211, 211, 0.329);
  padding: 0.6rem 1rem;
  border-radius: 1%;
}

.searchbar {
  width: 350px;
  height: 35px;
  border: transparent;
  margin: 0 3px;
}

/* .centre-searchbar-wrapper {
  border-top: 1px solid;
  border-bottom: 1px solid;
} */

.searchbar-wrapper {
  display: flex;
  border: 1px solid;
  border-radius: 24px;
  padding: 0px 10px;
  background-color: black;
  border-top-color: transparent;
  border-bottom-color: transparent;
  box-shadow: 1rem 3px 1em rgba(255, 0, 0, 0.6), -2em -0.5em 0.4em olive;
  margin-top: 1rem;
}

.search-icon-wrapper,
.microphone-icon-wrapper {
  height: 2rem;
  width: 2rem;
}

.search-icon-wrapper {
  border: 1px solid;
}

.microphone-icon-wrapper {
  border: 1px solid;
  background-color: rgb(0, 0, 0);
}

#search-icon,
#microphone-icon {
  color: rgb(255, 208, 0);
}

#microphone-icon {
  text-shadow: 0 0 1px #fff, 0 0 0.9px #fff, 0 0 0.8px #fff, 0 0 0.7px;
} /* End of the form */

/* Start of the footer */

footer {
  background-color: rgb(255, 240, 240);
  width: 100vw;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap; /* flex-wrap is great! */
  position: fixed; /* fix the footer */
  bottom: 0; /* to the bottom of the screen */
}

.footer-p {
  padding: 1rem;
  text-align: center;
  color: rgba(0, 0, 0, 0.9);
  font-family: "Lato", sans-serif;
}

@media screen and (max-width: 900px) {
  footer {
    justify-content: space-evenly;
  }

  .footer-p {
    width: 100vw;
  }

  .left-footer-links-wrapper {
    order: 1;
  }

  .right-footer-links-wrapper {
    order: 1;
  }
}

.left-footer-links-wrapper,
.center-footer-p-wrapper,
.right-footer-links-wrapper {
  display: flex;
  margin: 0;
  background-color: rgb(255, 240, 240);
}

.footer-link-wrapper {
  padding: 1rem;
}
/* End of the footer */
