/* Google fonts class*/
.material-icons {
  font-family: "Material Icons";
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  display: inline-block;
  padding: 0.25rem;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
}

/* Reset all margins */
* {
  margin: 0%;
  padding: 0%;
}

/* Remove text-decoration from all links on page 1 */
.navlink,
.material-icons,
.microphone-icon-link,
.form-link,
.footer-link,
.search-icon-link {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.6);
  font-family: "Lato", sans-serif;
  font-size: 0.9rem;
  transition: 0.2s;
  transition-delay: 0ms;
}

/* Small a:hover transition for specific <a>'s*/
.navlink-wrapper a:hover,
.footer-link-wrapper a:hover {
  font-size: 1.5rem;
  cursor: pointer;
}

/* NAVBAR STARTS */
.navbar {
  display: flex;
  justify-content: space-between;
  background-color: cornflowerblue;
  box-shadow: 0 3px 1em rgba(0, 0, 0, 0.8);
}

.left-header-links-wrapper,
.right-header-links-wrapper {
  display: flex;
  flex-direction: row;
}

.navlink-wrapper {
  margin: auto 1rem;
  padding: 0.5rem 0;
}

.profile-photo {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 50%;
  background-image: url(https://images.unsplash.com/photo-1542596594-649edbc13630?ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8c21pbGluZ3xlbnwwfHwwfHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60);
  height: 2rem;
  width: 2rem;
  background-size: cover;
  padding: 0.5rem;
} /* NAVBAR ENDS */

/* FORM STARTS */
.form-page-1 {
  display: flex;
  flex-direction: column;
  position: fixed;
  height: 100vh;
  width: 100%;
  text-align: center;
  align-items: center;
  justify-content: center;
  top: 0;
  z-index: -1;
  background-image: url(https://images.unsplash.com/photo-1622195577150-0c6e0d016187?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=755&q=80);
  background-size: cover;
  background-repeat: no-repeat;
}

.form-title {
  animation-name: form-title;
  animation-timing-function: linear;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}
@keyframes form-title {
  0% {
    transform: translateY(0);
  }
  25% {
    transform: translateY(-35px);
  }
  50% {
    transform: translateY(-60px);
  }
  75% {
    transform: translateY(-35px);
  }
  100% {
    transform: translateY(0);
  }
}

.searchbar {
  width: 350px;
  height: 35px;
  border: transparent;
  margin: 0 3px;
}

/* .centre-searchbar-wrapper {
  border-top: 1px solid;
  border-bottom: 1px solid;
} */

.searchbar-wrapper {
  display: flex;
  border: 1px solid;
  border-radius: 24px;
  padding: 0px 10px;
  background-color: black;
  border-top-color: transparent;
  border-bottom-color: transparent;
  box-shadow: 1rem 3px 1em rgba(255, 0, 0, 0.6), -2em -0.5em 0.4em olive;
  margin-top: 1rem;
}

/* SEARCH ICON ANIMATION STARTS: flickering animation --> use on the left side of search bar*/
#search-icon {
  text-shadow: 0 0 0.5px #fff, 0 0 0.4px #fff, 0 0 0.3px #fff, 0 0 0.2px #fff,
    0 0 0.1px #fff, 0 0 0.05px #fff, 0 0 0.01px #fff;
  background-color: black;
  animation: flicker 1.5s infinite alternate;
}

@keyframes flicker {
  0%,
  18%,
  22%,
  25%,
  53%,
  57%,
  100% {
    text-shadow: 0 0 4px #fff, 0 0 11px #fff, 0 0 19px #fff, 0 0 40px #0fa,
      0 0 80px #0fa, 0 0 90px #0fa, 0 0 100px #0fa, 0 0 150px #0fa;
  }

  20%,
  24%,
  55% {
    text-shadow: none;
  }
} /* SEARCH ICON ANIMATION ENDS*/

.search-icon-wrapper,
.microphone-icon-wrapper {
  height: 2rem;
  width: 2rem;
}

#search-icon,
#microphone-icon {
  color: rgb(255, 208, 0);
}

.search-icon-wrapper {
  border: 1px solid;
}

/* The microphone icon is on the right side of the central search bar   */
.microphone-icon-wrapper {
  border: 1px solid;
  background-color: rgb(0, 0, 0);
}

#microphone-icon {
  text-shadow: 0 0 1px #fff, 0 0 0.9px #fff, 0 0 0.8px #fff, 0 0 0.7px;
}

/* The links below the search bar */
.form-links-wrapper {
  display: flex;
}

.form-link-wrapper {
  margin: 1rem;
  background-color: rgba(211, 211, 211, 0.9);
  padding: 0.6rem 1rem;
  border-radius: 1%;
  box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.8);
  transition: 0.4s;
  transition-delay: 0s;
}

.form-link-wrapper:hover {
  background-color: yellow;
  cursor: pointer;
} /* FORM ENDS */

/* FOOTER STARTS */
.footer-page-1 {
  background-color: rgba(255, 240, 240, 0.9);
  width: 100vw;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap; /* flex-wrap is great! */
  position: fixed; /* fix the footer */
  bottom: 0; /* to the bottom of the screen */
}

.footer-p {
  padding: 1rem;
  text-align: center;
  color: rgba(0, 0, 0, 0.6);
  font-family: "Lato", sans-serif;
  text-shadow: 1px 2px 3px rgba(0, 255, 0, 0.4);
  font-size: 1.2rem;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

@media screen and (max-width: 900px) {
  footer {
    justify-content: space-evenly;
  }

  .footer-p {
    width: 100vw;
  }

  .left-footer-links-wrapper {
    order: 1;
  }

  .right-footer-links-wrapper {
    order: 1;
  }
}

.left-footer-links-wrapper,
.center-footer-p-wrapper,
.right-footer-links-wrapper {
  display: flex;
  margin: 0;
  background-color: rgba(255, 240, 240, 0.1);
}

.footer-link-wrapper {
  padding: 1rem;
}
/* FOOTER ENDS */

/* _____________________________________________________ */

/* PAGE 2 */

.body-wrapper-page-2 {
  width: auto;
  margin: 0;
  padding: 0;
}

/* styling page2.html's nav-bar  */
.nav-bar {
  width: 100%;
  background-color: rgba(117, 117, 136, 0.192);
}

/* ///////////////////////////// */

/* .lefthand-grid-div {
  background-color: rgba(0, 255, 255, 0.185);
  margin: 0;
}

.righthand-grid-div {
  background-color: crimson;
  margin: 0%;
} */

/* ///////////////////////////// */

/* Syling the logo from page 2*/
.form-page-2-logo-wrapper {
  width: auto;
  height: 35px;
  background-color: yellowgreen;
  margin: 1rem 30px 1rem 50px;
}

.form-page-2-title {
  width: 100px;
}

/* styling the searchbar from page 2 */
#searchbar-page-2 {
  width: 435px;
  height: 35px;
}

.searchbar-wrapper-page-2 {
  display: flex;
  border: 1px solid;
  border-radius: 24px;
  padding: 0px 10px;
  background-color: black;
  border-top-color: transparent;
  border-bottom-color: transparent;
  margin: 1rem;
  width: 550px;
  height: 35px;
}

.centre-searchbar-wrapper-page-2 {
  width: 370px;
}

.form-page-2 {
  display: flex;
}

/* NAV-BAR JUSTIFY-CONTENT SPACE-BETWEEN - page 2 */
.upper-nav-bar-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  width: auto;
  padding-right: 2vw;
}

/* STILL TESTING TO OBTAIN ICONS ON THE RIGHT HAND SIDE OF NAVBAR */
.settings-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.face-icon {
  margin: 5px;
  padding: 0.25rem;
}
/* END OF TEST */

/* lower nav-bar menu wrapper from page 2 */
.lower-nav-bar-menu-wrapper {
  display: flex;
  margin: 0 0 0;
  align-items: center;
  text-align: center;
  justify-content: space-between;
  width: 545px;
  margin-left: 211px;
}

/* links inside of lower nav-bar menu from page 2 wrapper */
.lower-nav-bar-menu-wrapper a {
  text-decoration: none;
  color: black;
}

/* left side lower nav-bar menu customization from page 2 starts */
.left-side-lower-nav-bar-menu-wrapper {
  display: flex;
}

.nav-link-wrapper {
  margin: 5px;
}

.results-count-and-speed-wrapper {
  display: flex;
  margin-left: 214px;
}

.results-count,
.speed {
  padding: 2px;
}

/* PRIMARY SUGGESTIONS SECTION STARTS (page2.html) */

/* This is the 2 column grid for the articles suggestions sections */
.tiered-articles-suggestions {
  margin: 0;
  background-color: rgba(255, 166, 0, 0.644);
  /* display: grid; */
  /* grid-template-columns: 1fr 1fr; */
}

.articles-list-wrapper {
  margin: 0 0 25px 215px;
  padding-top: 1px;
  width: 540px;
  background-color: rgba(137, 43, 226, 0.178);
  border: transparent;
}

.article-wrapper {
  margin: 25px 0;
}

.url-link {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.8);
}

.meta-title-link {
  text-decoration: none;
  font-size: 1rem;
  font-weight: 550;
}

.meta-title-link:hover {
  text-decoration: underline;
}

.meta-description {
  color: rgba(0, 0, 0, 0.9);
}

/* PRIMARY SUGGESTIONS SECTION ENDS */

/* RELATED SEARCHES SECTION FROM PAGE 2 */
/* set the margin correctly */
.related-searches-section-wrapper {
  margin-left: 214px;
  width: 562px;
}

.related-searches-title {
  padding-bottom: 5px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.123);
}

/* set the margin-bottom and border-bottom for both articles */
.website-making-software,
.website-building-software {
  margin-bottom: 30px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.123);
}

.see-more-button {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 20px auto 20px;
  width: 200px;
  height: 2rem;
  border-radius: 24px;
  border: 1px solid rgba(141, 141, 143, 0.404);
}

.see-more-button a {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.9);
}

.related-result-title-wrapper {
  margin: 20px 0 10px;
}

.related-result-title-link {
  text-decoration: none;
  color: black;
}

.software-list-wrapper {
  display: flex;
  background-color: darkred;
}

.software-wrapper {
  margin: 2px;
  align-items: flex-end;
  text-align: left;
  padding: 5px;
  height: 120px;
  position: relative;
  width: auto;
  background-color: rgba(0, 128, 128, 0.068);
}

/* REMEMBER TO ADD INDIVIDUAL PHOTOS FOR EACH SOFTWARE */
.software-photo {
  background-image: url(https://cdn0.iconfinder.com/data/icons/most-usable-logos/120/WordPress-512.png);
  height: 80px;
  width: 80px;
  background-position: center;
  background-size: cover;
  margin: 0 auto 20px;
}

.sofware-name {
  height: 40px;
  width: auto;
  background-color: yellow;
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
  margin: 0 auto 0px;
  color: rgba(0, 0, 0, 0.9);
}

/* additional suggestions  */
.additional-suggestions-section-wrapper {
  display: flex;
  margin-left: 214px;
}

.lefthand-additional-links,
.righthand-additional-links {
  padding: 2px;
}

.righthand-additional-links {
  margin-left: 10px;
}

.additional-link-wrapper {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  background: rgba(228, 228, 235, 0.801);
  margin: 10px 0px;
  height: 30px;
  border-radius: 25px;
  padding: 8px;
  font-size: 14px;
  width: 260px;
}

.additional-link-wrapper a {
  padding: 20px;
  white-space: nowrap;
  text-decoration: none;
  color: black;
}

/* .bottom-pager section */
.bottom-pager-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  background-color: palegreen;
  width: 565px;
  margin-left: 215px;
  padding: 1rem;
  box-sizing: border-box;
}

.letters-wrapper,
.numbers-wrapper {
  display: flex;
}

.bottom-pager-letter {
  margin: 5px;
}

.bottom-pager-number {
  margin: 3px;
}

/* COME BACK TO FINISH THIS HOVER EFFECT */
.letter-g-next:hover + .number-next {
  color: red;
  font-size: 1rem;
}
/* FINISH HOVER EFFECT ABOVE */

/* footer from page 2 */
.footer-page-2 {
  background: rgba(228, 228, 235, 0.801);
  width: auto;
  padding: 5px 0;
  padding-left: 210px;
}

.upper-footer-links-wrapper,
.lower-footer-links-wrapper {
  display: flex;
  margin: 10px 0;
}

.footer-link-wrapper-page-2 {
  margin: 0 10px;
  white-space: nowrap;
}

.footer-link-wrapper-page-2 a {
  text-decoration: none;
  color: black;
}
